<link rel="stylesheet" href="styles/about.css">

<main id="about">
    <img src="styles/img/me1.png" alt="Profile photo">
    <h1>Timur Khalikshin</h1>
    <h3>Web- and C++-developer</h3>
    <p>
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me
        Text about me

    </p>
</main>