<link rel="stylesheet" href="styles/about.css">

<main id="about">
    <img src="styles/img/me1.png" alt="Profile photo">
    <h1>Timur Khalikshin</h1>
    <h3>Web-, UX/UI- and C++-developer</h3>
    <div>
        <p>
            Hello! I'm Timur, I'm 17 y.o. and I like programming.
        </p>
        <p>
            My passion for programming started at school in the 7th grade, when I went to the computer camp from our school. There I realized that I can easily write working programs. After the camp, I began to actively read about various branches of programming, interested in the news of the IT industry.
        </p>
        <p>
            I tried different things: writting bots, writting desktop applications, applications for Android, I studied Arduino and how motherboards work. I tried different languages, such as: Pascal, Basic, C, C++, C#, Bash, Java, Python, PHP, SQL, JS. In the end, I stopped on the development of sites and UX/UI-interfaces.
        </p>
        <p>
            
        </p>
        <p>
            
        </p>
        <p>
            
        </p>
    </div>
</main>