<link rel="stylesheet" href="styles/allworks.css">

<div id="message">Now there are not all my projects. Contact me if you wanna see all of them</div>

<main id="allworks">
    <div id="top">
        <div id="title_sections">
            <h1>My projects</h1>
        </div>
        <div id="menu_sections">
            <div id="active">
                <h2>Most popular</h2>
            </div>
            <div>
                <h2>All projects</h2>
            </div>
            <div>
                <h2>In developing</h2>
            </div>
        </div>
    </div>
    <div id="sections"></div>
</main>
<script src="scripts/allworks.js"></script>