<main>
    <div id="header">
        <h1>If you want to contact me</h1>
        <h2>you can use following methods</h2>
    </div>
    <div id="body">
        <div id="email">
            <h3><svg></svg>Email</h3>
            <ul>
                <li>admin@tim-ur.ru</li>
                <li>hts1238@mail.ru</li>
            </ul>
        </div>
        <div id="vk">
            <h3><svg></svg>VKontakte</h3>
            <ul>
                <li>vk.com/futau</li>
                <li>@futau</li>
            </ul>
        </div>
        <div id="tg">
            <h3><svg></svg>Telegram</h3>
            <ul>
                <li>t.me/futau</li>
                <li>@futau</li>
            </ul>
        </div>
        <!--<div id="fb">
            <h3><svg></svg>Facebook</h3>
            <ul>
                <li>facebook.com/futau</li>
                <li>@futau</li>
            </ul>
        </div>-->
    </div>
</main>
<link rel="stylesheet" type="text/css" href="styles/contacts.css">
<script src="scripts/contacts.js"></script>