<main id="feedback">
	<form name="new_feedback" action="processing/new_feedback.php" method="post">
		<!--<h1>New feedback</h1>-->
		<div>
			<p>Name</p>
			<input name="name" type="text">
		</div>
		<div>
			<p>Feedback</p>
			<textarea name="feedback" cols="30" rows="10"></textarea>
		</div>
		<div>
			<p>Email</p>
			<input name="email" type="text">
		</div>
		<input type="submit" value="Send">
	</form>
</main>
<link rel="stylesheet" type="text/css" href="styles/feedback.css">
<script src="scripts/feedback.js"></script>
