main#feedback {
	width: 60%;
	padding: 10px;
	margin: 0 auto 80px;
	background-color: var(--feedback-form-background-color);
	border-radius: 20px;
	box-shadow: 0px 0px 30px var(--feedback-form-shadow-color);
}

main#feedback p {
	color: var(--feedback-p-color);
	flex-grow: 1;
}

main#feedback div {
	display: flex;
	justify-content: right;
	margin: 0 20px;
}

main#feedback input, main#feedback textarea {
	font-size: 100%;
	margin: 10px;
	padding: 10px;
	flex-grow: 3;
	background-color: var(--feedback-input-background-color);
	border-color: var(--feedback-input-border-color);
	border-style: solid;
	border-radius: 15px;
	color: var(--feedback-input-color);
}

div.feedbacks {
	position: relative;
	width: 70%;
	margin: 40px auto;
	padding: 30px;
	background-color: var(--feedback-form-background-color);
	border-radius: 20px;
	box-shadow: 0 0 30px var(--feedback-form-shadow-color);
}

div.feedbacks > div.field {
	margin: 10px 0;
	color: var(--feedback-p-color);
}

div.feedbacks > div#time {
	position: absolute;
	top: 30px;
	right: 30px;
}

div.feedbacks > div#feedback {
	margin-top: 40px;
}
