body {
    margin: 0;
    padding: 0;
    background-color: var(--body-background-color);
    font-family: 'Montserrat', sans-serif;
    
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 0 20px;
    background-color: var(--header-background-color);
    box-shadow: 0 5px 30px var(--header-shadow-color);
}

header > div#title {
    flex: 4 1 40%;
    cursor: default;
}

header h1 {
    color: var(--header-h1-color);
}

header a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    text-decoration: none;
    color: var(--header-a-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

header a:hover {
    background-color: var(--header-a-hover-background-color);
    color: var(--header-a-hover-color);
    border-bottom: 3px solid var(--header-a-hover-border-color);
}

header a:active {
    border: none;
}

header a:focus {
    outline: none;
}

header > div#links {
    flex: 5 1 50%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
}

header > div#links > div {
    position: relative;
    width: 20%;
}


@media screen and (max-width: 800px) {
}
