body {
    margin: 0;
    padding: 0;
    background-color: #f6f5f7;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 0 20px;
    background-color: #f8f9fa;
    box-shadow: 0 5px 30px #0004;
}

header > div#title {
    flex: 4 1 40%;
    cursor: default;
}

header a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    text-decoration: none;
    color: #888;
}

header a:hover {
    background-color: #eee;
    color: #444;
    border-bottom: 3px solid #ddd;
}

header a:active {
    border: none;
}

header a:focus {
    outline: none;
}

header a > p {
    display: inline-block;
    vertical-align: middle;
}

header a > p.before {
    height: 60%;
}

header > div#links {
    flex: 5 1 50%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
}

header > div#links > div {
    position: relative;
    width: 20%;
}