body {
    background-color: #f6f5f7;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #f8f9fa;
    box-shadow: 0 5px 30px #0004;
}

header > div#title {
    cursor: default;
}

header a {
    text-decoration: none;
    color: #888;
}

header a:hover {
    background-color: #eee;
    color: #444;
    border-bottom: 3px solid #ddd;
}

header a:active {
    border: none;
}

header a:focus {
    outline: none;
}

main > div#top {
    background-color: #f8f9fa;
    box-shadow: 0 0 10px #0003;
    border-radius: 20px;
    padding: 5px 20px 0;
    cursor: default;
}

main div#menu_sections > div {
    border-bottom: 3px solid #ccf;
    color: #555;
}

main div#menu_sections > div#active {
    border-bottom-color: #66f;
    background-color: #f5f5f5;
    color: #000;
}

main div#menu_sections > div:hover {
    background-color: #f0f0f0;
}

main > div#sections > div {
    background-color: #f8f9fa;
    box-shadow: 0 0 10px #0003;
    border-radius: 15px;
    overflow: hidden;
}

main > div#sections div.header_sections {
    border-radius: 15px;
}